* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,8,51, 0.9), rgba(165, 241, 233, 0.9)), url(../images/cocktail.jpg);
  background-position: center;
  background-size: cover;
}

section {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 100%;
  max-width: 600px;
  height: 70px;
  background-color:rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline:none;
  padding: 24px 20px;
  font-size: 20px;
  color: black;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-bar button img {
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}


.result{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result img {
  height: 250px;
  border-radius: 20%;
}

.center{
  display: flex;
  flex-direction: row;
}


#step{
  font-family: poppins;
  margin-top: 30px;
  padding-left: 40px;
  width: 400px;
  align-self: center;
}

#drinkName {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: poppins;
  color: #CFD2CF;
}

.center button {
  display: flex;
  align-items: center;
  width: 50px;
  background: transparent;
  border: none;
}

#next {
  
  justify-content: flex-end;
}